---
title: Über uns
include_in_header: true
include_in_footer: false
---

<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
<div>
  <div>
    <div>
      {% include header.html %}
      <div class="container">
        <div id="what">
          <div id="what-is">
            Über <img class="text-logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo_green.svg"/>
          </div>
          <div id="what-is-explanation">
            Gemeinsam Gutes tun
          </div>
          <div id="about">
            tugut ist Deutschlands Spendenplattform speziell für Vereine.​<br>
            <br>
            Das ehrenamtliche Engagement der Bürgerinnen und Bürger hat eine zentrale Bedeutung für den gesellschaftlichen Zusammenhalt in Deutschland.<br>Sowohl temporäres als auch langjähriges Engagement soll dauerhaft gestärkt und gefördert werden.​<br>
            <br>

            Wir setzen uns für eine Gesellschaft ein, in der gemeinnützige Organisationen die Mittel haben sich durch Eigeninitiative selbst zu fördern<br> und nachhaltig zur eigenen Spenden-Finanzierung beizutragen. <br>
            <br>
            Hierzu wollen wir einen Beitrag leisten.<br>Als zuverlässiger und professioneller Partner aus Stuttgart entwickeln wir digitale Lösungen und Produkte,<br>
            die das Spenden an gemeinnützige Organisationen attraktiver und zugänglicher gestalten.​
          </div>
        </div>

        <div id="what">
          <div id="what-is">
            <img class="text-logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo_green.svg"/> Team
          </div>
          <div id="what-is-explanation">
            »Wir wollen gemeinnützigen Organisationen die Möglichkeit<br>
            zur langfristigen und effizienten Unterstützung bieten«
          </div>
        </div>

        <div id="team">
          <div>Dennis Schlegel</div>
          <div>Dr. Tilman Becker</div>
          <div>Michael Munz</div>
        </div>

        <a href="/site/imprint/">Imprint/Impressum</a>, §5 TMG
        <br>
        <a href="/site/privacypolicy/">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
