---
title: Blog
include_in_header: true
include_in_footer: false
---

<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

<div class="main">
  <div class="content">
    <div>
      {% include header.html %}
      <div class="container">
        <div class="blogposts">
          {% for post in site.posts %}
          <a class="blogpost markdown-body" target="_self" href="{{ site.baseurl }}{{ post.url }}">
            <div class="card-inner">
              <div class="post-image">
                <img class="post-header-image" src="{{ site.url }}{{ site.baseurl }}/assets/posts/{{ post.image }}"/>
              </div>
              <div class="blogpost__title">
                {{ post.title }}
              </div>
              <div class="blogpost__preview">
                {{ post.preview }}
              </div>
              <div class="blogpost__footer">
                <time>{{ post.date | date_to_string }}</time>
                <input type="button" class="btn cta-green" value="Weiterlesen">
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
</body>
</html>
