---
title: Blog
include_in_header: true
include_in_footer: false
---

<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
<div class="main">
  <div class="content">
    <div>
      {% include header.html %}
      <div class="container">
        <div class="posts">
          {% for post in site.posts %}
          <a class="posts__link" target="_self" href="{{ site.baseurl }}{{ post.url }}">
            <article class="posts__item markdown-body">
            <div class="post-image">
              <img class="post-header-image" src="{{ site.url }}{{ site.baseurl }}/assets/posts/{{ post.image }}"/>
            </div>
            <div class="posts__content">
              <div class="posts__item-title">
                {{ post.title }}
              </div>
              <div class="posts__date">
                <time>{{ post.date | date_to_string }}</time>
              </div>
            </div>
          </article>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
</body>
</html>
