---
title: kocherlager
include_in_header: false
include_in_footer: false
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base target="_blank">

  <title class="pageTitle">{{ site.page_title }}</title>
  <meta name="description" content="Jetzt gutes tun und gewinnen">
  <meta property="og:url" content="{{site.url}}{{ page.url }}">
  <meta property="og:title" content="Für das Kocherlager">
  <meta property="og:site_name" content="{{ site.page_title }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/sample_preview.png">
  <meta property="og:description" content="Dieses Jahr unsere erste Zeltlagerverlosung mit der tugut Lotterie!">

  <link rel="shortcut icon" href="{{ site.app_icon }}">
  <link rel="apple-touch-icon" href="{{ site.app_icon }}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="../main.css">

  <link href="{{ site.url }}{{ site.baseurl }}/js/app.bfe37dd1.js" rel=preload as=script>
  <link href="{{ site.url }}{{ site.baseurl }}/js/chunk-vendors.71704c1e.js" rel=preload as=script>
</head>

<body>
<div class="main">
  <div class="content">
    <div>
      {% include header.html %}
      <div class="container">
        <div id="what">
          <div class="event">
            <img class="text-logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo_green.svg"/>
            <div class="event__heading">für das</div>
            <div class="event__heading">Kocherlager</div>
          </div>

        <div class="lotterie__about">
          <div class="lotterie__message">
            <div class="lotterie__about-bold">Nachricht von Daniel:</div>
            <div>Hallo zusammen,</div>
            <div>wir hoffen euch geht es gut und ihr seid gesund über die letzten Wochen gekommen. Leider mussten wir – bedingt durch Corona – das Kochertalzeltlager absagen.</div>
            <div>Dafür starten wir dieses Jahr unsere erste Zeltlagerverlosung mit der tugut Lotterie! Wenn ihr mitmacht unterstützt ihr uns Spiele und Materialen für das Zeltlager sicherzustellen.</div>
            <div>Alles weitere findet Ihr im Flyer!</div>
            <div>Bleibt gesund und einen gesegneten Sommer.</div>
            <div>Das Kochertal-Team</div>
          </div>
          <div>Lose gibts es am Samstag, den</div>
          <div class="lotterie__about-bold">25.07.2020 und 01.08.2020</div>
          <div>bei:</div>
          <div>Müllers Hofladen</div>
          <div>Herbststr.4+6</div>
          <div>73663 Berglen/Kottweil</div>
          <div><a href="http://muellershoflaedle.de">muellershoflaedle.de</a></div><br>
          <div><a href="https://goo.gl/maps/jkmxUKQVTrgQkhyC8">Anfahrt</a></div>
        </div>
        <div class="event-info">
          <h1>Ziehung am Sonntag, den 02.08.2020 um 18 Uhr in:</h1>
        </div>

        </div>
        <div id="timer">
          <div>
            <span class="days"></span>
            <div>Tagen</div>
          </div>
          <div>
            <span class="hours"></span>
            <div>Stunden</div>
          </div>
          <div>
            <span class="minutes"></span>
            <div>Minuten</div>
          </div>
          <div>
            <span class="seconds"></span>
            <div>Sekunden</div>
          </div>
        </div>

        <div class="event-info">
          <h1>FAQ:</h1>
        </div>
        <div class="event-info">
          <div id=app>

          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript">
      function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
          'total': t,
          'days': days,
          'hours': hours,
          'minutes': minutes,
          'seconds': seconds
        };
      }

      function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
          var t = getTimeRemaining(endtime);

          daysSpan.innerHTML = t.days;
          hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
          minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
          secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

          if (t.total <= 0) {
            clearInterval(timeinterval);
          }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
      }

      var deadline = new Date('2020-08-02T18:00:00');
      initializeClock('timer', deadline);
    </script>

    <script src=/js/chunk-vendors.71704c1e.js></script><script src=/js/app.bfe37dd1.js></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/app.kocherlager.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/chunk-vendors.71704c1e.js"></script>
  </div>
  {% include footer.html %}
</div>
</body>
</html>
