---
title: Lotterie
include_in_header: true
include_in_footer: false
order: 1
---

<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
{% include header.html %}
<div class="main">
  <div class="title">
    Die <img class="title__logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo_green.svg"/>Lotterie
  </div>
  <div class="features">
    <div class="column">
      <div class="row">
        <div class="col-md-6">
          <h3 class="mt-4 mb-4 center">
            Vorteile für Vereine
          </h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
              Einfache Umsetzung und wenig Aufwand
              <span class="badge badge-primary badge-pill badge-white">✔</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
              Steuerfreie Einnahmen für euren Verein
              <span class="badge badge-primary badge-pill badge-white">✔</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
              Ideal kombiniert mit Festen und Veranstaltungen
              <span class="badge badge-primary badge-pill badge-white">✔</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
              Aufmerksamkeit für den Verein in diversen Medien
              <span class="badge badge-primary badge-pill badge-white">✔</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3 class="mt-4 mb-4 center">
            Vorteile für Unterstützer
          </h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
              Einfache und schnelle Unterstützungsmöglichkeit
              <span class="badge badge-primary badge-pill badge-white">✔</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
              Attraktive Mitmachaktion als Gewinnspiel
              <span class="badge badge-primary badge-pill badge-white">✔</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
              Unterstützung durch minimalen Einsatz
              <span class="badge badge-primary badge-pill badge-white">✔</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
              Anreiz durch Gewinnchance
              <span class="badge badge-primary badge-pill badge-white">✔</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="title mt-5">
    Ablauf der tugut Lotterie
  </div>
  <div class="column">
    <div class="row mb-5">
      <div class="col-md-7">
        <h4>
          Informieren über die eigene Lotterie
        </h4>
        <div class="mt-2 mb-2">
          Auf der tugut Website wird eine eigene Veranstaltungs-Seite für euren Verein angelegt
        </div>
        <div class="mt-2 mb-2">
          Euer Verein erhält vorgefertigte Textbausteine, Grafiken und Social Media Links
        </div>
        <div class="mt-2 mb-2">
          Der Verein informiert mögliche Unterstützer über seine Kommunikationskanäle
        </div>
        <h4>Verkauf der Lotterie Lose</h4>
        <div class="mt-2 mb-2">
          Vereine können über die tugut Lotterie Lose an Mitglieder, Freunde und weitere Unterstützer verkaufen
        </div>
        <div class="mt-2 mb-2">
          Der Verein erhält bis zu 75% der Einnahmen durch den Losverkauf*
        </div>
        <div class="mt-2 mb-2">
          25% der Einnahmen durch den Losverkauf stehen als Gewinn bereit.
        </div>
        <div style="font-size: 0.8rem;">
          * Vorbehaltlich Zustimmung Finanzamt
        </div>
      </div>
      <div class="col-md-5 features__right">
        <img class="features__image"
             src="{{ site.url }}{{ site.baseurl }}/assets/pie.png"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 features__left">
        <img class="features__image"
             src="{{ site.url }}{{ site.baseurl }}/assets/how.png"/>
      </div>
      <div class="col-md-7">
        <h4>Ziehung der Gewinner</h4>
        <div class="mt-2 mb-2">
          An einem festgelegten Stichtag findet die Ziehung der Gewinnerlose statt
        </div>
        <div class="mt-2 mb-2">
          Der Gewinn wird an Unterstützer mit Gewinnerlosen ausgeschüttet
        </div>
        <h4>Rechtliche Grundlage</h4>
        <div class="mt-2 mb-2">
          Die tugut Lotterie erfolgt unter Einhaltung aller glücksspielrechtlichen Vorlagen
        </div>
        <div class="mt-2 mb-2">
          Ein Spiel- und Gewinnplan beschreibt, wie Einnahmen und Gewinne aufgeteilt werden
        </div>
      </div>
    </div>
  </div>
  {% include endcta.html %}
</div>
{% include footer.html %}

</body>
</html>
