---
title: Lotterie
include_in_header: true
include_in_footer: false
---

<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
{% include header.html %}
<div class="main">
  <div class="title">
    Die <img class="title__logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo_green.svg"/>Lotterie
  </div>
  <div class="features">
    <h3 class="mt-4 mb-4 mobile-center">
      Vorteile für Vereine
    </h3>

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Wenig Aufwand und einfache Umsetzung
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Steuerfreie Vereinseinnahmen
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Sicherstellung der glücksspielrechtlichen Vorgaben
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Stärkung des Zusammenhalts
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Eigene online Präsenz und Aufmerksamkeit in diversen Medien
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
    </ul>

    <h3 class="mt-4 mb-4 mobile-center">
      Vorteile für Unterstützer
    </h3>

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Einfache und schnelle Unterstützungsmöglichkeit
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Attraktive Mitmachaktion als Gewinnspiel
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Unterstützung durch minimalen Einsatz
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Anreiz durch Gewinnchance
        <span class="badge badge-primary badge-pill badge-white">✔</span>
      </li>
    </ul>
  </div>

  <div class="title">
    Ablauf
  </div>
  <div class="column">
    <div class="row">
      <div class="col-md-7">
        <h4>Verkauf von Losen</h4>
        <div class="mt-2 mb-2">
          Gemeinnützige Organisationen erhalten von tugut Lose, die durch die Organisation in einem definiertem Zeitraum verkauft werden.
        </div>
        <div class="mt-2 mb-2">
          Die ausführende Organisation erhält max. 75% des Brutto-Losverkaufs als Reinertrag. Die Einnahmen sind für die Organisation steuerfrei*.
        </div>
        <div class="mt-2 mb-2">
          Die übrigen 25% des Brutto-Losverkaufs fließen in die Gewinnsumme, woraus sich die Gewinne der Teilnehmer ergeben.
        </div>
        <h4>
          Informieren über die Aktion
        </h4>
        <div class="mt-2 mb-2">
          Der Verein wird während des Prozesses von tugut unterstützt und erhält Support auf allen Kanälen.
        </div>
        <div class="mt-2 mb-2">
          Auf der tugut Website wird eine Aktions-Seite für die ausführende Organisation erstellt.
        </div>
        <div style="font-size: 0.8rem;">
          * Vorbehaltlich Zustimmung Finanzamt
        </div>
      </div>
      <div class="col-md-5 features__right">
        <img class="features__image"
             src="{{ site.url }}{{ site.baseurl }}/assets/pie.png"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 features__left">
        <img class="features__image"
             src="{{ site.url }}{{ site.baseurl }}/assets/how.png"/>
      </div>
      <div class="col-md-7">
        <h4>Verkauf von Losen</h4>
        <div class="mt-2 mb-2">
          Die Ziehung der Gewinner erfolgt am vereinbarten Verlosungstermin. Unter den Loskäufern werden nach Verkaufsende die Gewinnzahlen auf der tugut Website veröffentlicht, an die Gewinne ausgeschüttet wird.
        </div>
        <h4>Rechtliche Grundlage</h4>
        <div class="mt-2 mb-2">
          Die tugut Lotterie erfolgt unter Einhaltung aller glücksspielrechtlichen Vorlagen und Vorschriften. Dabei beschreibt ein Gewinnplan, wie die erzielten Einnahmen aufgeteilt werden.
        </div>
        <h4>tugut Dienstleistung</h4>
        <div class="mt-2 mb-2">
          Als professioneller und zuverlässiger Partner bieten wir einen vollumfassenden Service aus einer Hand. Dieser beinhaltet:
        </div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Initiale Beratung
            <span class="badge badge-primary badge-pill badge-white">✔</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Unterstützung bei der Anmeldung beim Finanzamt
            <span class="badge badge-primary badge-pill badge-white">✔</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Begleitung bei der Durchführung und Nachbereitung
            <span class="badge badge-primary badge-pill badge-white">✔</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Sicherstellung der glücksspielrechtlichen Durchführung
            <span class="badge badge-primary badge-pill badge-white">✔</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Ziehung der Gewinnzahlen mit sicherem Zufallszahlgenerator
            <span class="badge badge-primary badge-pill badge-white">✔</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Temporäre Aktions-Website
            <span class="badge badge-primary badge-pill badge-white">✔</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="title">
    Jetzt starten
  </div>
  <div class="end-cta">
    <div class="center mt-3 mb-3">
      Ihr wollt die Finanzierungsmöglichkeit für euren Verein nutzen?</br>
      Dann schreibt uns eure noch offenen Fragen und lasst uns gemeinsam</br>
      die tugut Lotterie starten.</br>
    </div>
    <div class="center">
      <button type="button"
              class="btn btn-primary btn-lg"
              onclick="location.href='mailto:info@tugut.de';">
        <span style="color: white;">Wir sind dabei</span>
      </button>
    </div>
  </div>
</div>
{% include footer.html %}

</body>
</html>
