---
title: Über uns
include_in_header: true
include_in_footer: false
---

<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
{% include header.html %}
<div class="main">
  <div class="title">
    Über <img class="title__logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo_green.svg"/>
  </div>
  <h3 class="mt-4 mb-4 center">
    Gemeinsam Gutes tun
  </h3>
  <div class="center">
    tugut ist Deutschlands Spendenplattform speziell für Vereine. Das ehrenamtliche Engagement der Bürgerinnen und
    Bürger hat eine zentrale Bedeutung für den gesellschaftlichen Zusammenhalt in Deutschland. Wir
    setzen uns für eine Gesellschaft ein, in der gemeinnützige Organisationen die Mittel haben, sich durch
    Eigeninitiative selbst zu fördern.
  </div>
  <div class="center mt-3">
    Als zuverlässiger und professioneller Partner aus Stuttgart entwickeln wir
    digitale Lösungen und Produkte,
    die das Spenden an gemeinnützige Organisationen attraktiver und zugänglicher gestalten.
  </div>
  <div class="title">
    <img class="title__logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo_green.svg"/> Team
  </div>
  <div class="members">
    {% for member in site.data.team %}
    <div class="member">
      <div class="member__containerfluid">
        <img class="member__image" src="{{ site.url }}{{ site.baseurl }}/assets/team/{{ member.id }}.jpg"/>
        <img class="member__smile" src="{{ site.url }}{{ site.baseurl }}/assets/sticker.png">
      </div>
      <div class="member__name">
        {{ member.name }}
      </div>
      <div class="member__desc">
        {{ member.desc }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include footer.html %}
</body>
</html>
