<div class="end-cta mt-5">
  <h3 class="center mb-4">
    Euer Verein möchte ein Projekt finanzieren oder ein festliches Ereignis mit der tugut Lotterie aufwerten?
  </h3>
  <h5 class="center mb-4">
    Dann schickt uns eine Anfrage oder ruft einfach an 01728441452
  </h5>

  <div class="center">
    <button type="button"
            class="btn btn-primary btn-lg"
            onclick="location.href='mailto:info@tugut.de';">
      <span style="color: white;">Anfrage</span>
    </button>
  </div>
</div>
