<header class="header">
	<div class="logo">
		<div class="header-content">
			<div class="header-content__logo">
			{% if page.url != '/' %}
			<a href="../" target="_self"><img src="{{ site.url }}{{ site.baseurl }}/assets/logo_white.svg"></a>
			{% else %}
			<img src="{{ site.url }}{{ site.baseurl }}/assets/logo_white.svg">
			{% endif %}
			</div>
			{% if page.url == '/lotterie/' %}
			<div class="header-content__text">
				Gemeinsam Gutes tun und gewinnen
			</div>
			{% elsif page.url == '/winner/' %}
			<div class="header-content__text">
				Gemeinsam Gutes tun und gewinnen
			</div>
			{% elsif page.url == '/spenden/' %}
			<div class="header-content__text">
				Gemeinsam Gutes tun
			</div>
			{% else %}
			<div class="header-content__text">
				für gemeinnützige Organisationen
			</div>
			{% endif %}
		</div>
	</div>
	<nav class="scroll">
		<ul>
			{% assign pages = site.pages %}
			{% for page in pages %}
				{% if page.include_in_header == true %}
				<li><a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</header>
