@font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/dm-sans-v4-latin-regular.ttf') format('truetype');
}

html {
	font-family: 'DM Sans', sans-serif;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

$font-family-sans-serif: 'DM Sans';
$font-family-monospace: 'DM Sans';
$primary: #50DD93;

@import 'bootstrap';

