.navbar-links {
  display: flex;
  justify-content: flex-end;
}

.navbar-logo {
  &__text {
    font-size: 1rem;
    font-weight: bold;
  }
}

.main {
  padding: .5rem 1rem;

  &__slogan {
    max-width: 600px;
    font-size: 2rem;
    font-weight: bold;
  }

  &__slogan2 {
    margin-top: 25px;
    max-width: 600px;
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
}

.concept {
}

.conceptitem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &__image {
    max-width: 250px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 50px;

  &__logo {
    padding: 0 10px 0 10px;
    margin-top: 10px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
    height: 35px;
  }
}

.badge-white {
  color: white;
}

.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__quote {
    text-align: center;
    font-style: italic;
  }

  &__image {
    margin: 10px 0 10px 0;
    border-radius: 50%;
  }

  &__position {
    color: grey;
  }

  &__group {
    text-align: center;
    margin-top: 5px;
    color: grey;
    font-size: 1.1rem;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.end-cta {
  margin-bottom: 100px;
}

.start-cta {

}

.footer-link {
  color: black;
  padding: 10px;
}

.features {
  max-width: 700px;
  margin: auto;
  &__image {
    max-width: 300px;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blogposts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.blogpost a {
}
.blogpost {
  max-width: 400px;
  flex: 0 1 48%;
  display: flex;
  margin: 50px 0 50px 0;
  color: black !important;
  padding: 25px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
  &__title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__preview {
    margin-bottom: 10px;
  }
  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card-inner {
  display: flex;
  flex-direction: column;
}

.post-header-image {
  width: 350px;
  height: 250px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .navbar-links {
    display: flex;
    justify-content: flex-start;
  }
  .title {
    font-size: 2.1rem;
  }
  .start-cta {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-center {
    text-align: center;
  }
}

