.navbar-links {
  display: flex;
  justify-content: flex-end;
}

.navbar-logo {
  &__text {
    font-size: 1rem;
  }
}

.main {
  padding: .5rem 1rem;

  &__slogan {
    max-width: 600px;
    font-size: 2rem;
  }

  &__slogan2 {
    margin-top: 25px;
    max-width: 600px;
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
}

.divider {
  max-width: 200px;
  &__hr {
    margin-top: 20px;
    border-top: 10px solid $primary;
    border-radius: 5px;
  }
}

.possibilities {
  margin-bottom: 150px;
}
.concept {
}

.conceptitem {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__image {
    max-width: 250px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  margin-top: 50px;
  margin-bottom: 25px;

  &__logo {
    padding: 0 10px 0 10px;
    margin-top: 10px;
    height: 35px;
  }
}

.badge-white {
  color: white;
}

.testimonials {
  margin-top: 150px;
  margin-bottom: 100px;
}

.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__quote {
    text-align: center;
    font-style: italic;
  }

  &__image {
    margin: 10px 0 10px 0;
    border-radius: 50%;
  }

  &__position {
    color: grey;
  }

  &__group {
    text-align: center;
    margin-top: 5px;
    color: grey;
    font-size: 1.1rem;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero {
  margin-bottom: 150px;
  margin-top: 50px;
  &__image {
    width: 100%;
    border-radius: 15px;
  }
}

.post {
  &__image {
    margin: 25px;
  }
}

.end-cta {
  margin-bottom: 100px;
}

.start-cta {
  margin-bottom: 25px;
}

.footer-copyright {
  padding-right: 10px;
}

.footer-link {
  color: black;
  padding: 10px;
}

.features {
  margin: auto auto 100px auto;
  &__image {
    width: 100%;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blogposts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.blogpost {
  max-width: 400px;
  flex: 0 1 48%;
  display: flex;
  margin: 50px 0 50px 0;
  color: black !important;
  padding: 25px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
  &__title {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  &__preview {
    margin-bottom: 10px;
  }
  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.clubs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  font-size: 2.5rem;
}

.club {
  margin: 40px 40px 0 40px;
}

.club-image {
  width: 350px;
  height: 220px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.club-name {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.club-description {
  line-height: 1.3;
  width: 350px;
  color: #6c7a89;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.card-inner {
  display: flex;
  flex-direction: column;
}

.post-header-image {
  width: 350px;
  height: 250px;
  margin-bottom: 10px;
}

.members {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 300px;
  text-align: center;
  flex-flow: wrap;
}

.member {
  padding: 30px;
  flex: 0 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    filter: grayscale(100%);
    border-radius: 50%;
    max-width: 200px;
  }
  &__smile {
    position: absolute;
    width: 45px;
    top: 75%;
    left: 75%;
  }
  &__name {
    margin-top: 10px;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  &__desc {
    font-size: 1.1rem;
    line-height: 1.3;
  }
  &__containerfluid {
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .blogpost {
    flex: none;
  }

  .navbar-logo {
    &__text {
      font-size: 0.8rem;
    }
  }

  .hero {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .navbar-links {
    display: flex;
    justify-content: flex-start;
  }

  .title {
    font-size: 2.1rem;
  }

  .start-cta {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-center {
    text-align: center;
  }

  .member {
    flex: 0 100%;
  }

  .tugut-footer {
    font-size: 0.7rem;
  }
}

