<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
<div class="imageWrapper">
  <div class="headerBackground">
    <div>
      {% include header.html %}
      <div class="container">
        <div id="what">
          <div id="what-is">
            Was ist <img class="text-logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo_green.svg"/>?
          </div>
          <div id="what-is-explanation">
            Ein neuer, innovativer Weg zur Finanzierung<br>
            gemeinnütziger Organisationen.
          </div>

        </div>
        <div id="what-left">
          <div id="what-is">
            <img class="text-logo-left" src="{{ site.url }}{{ site.baseurl }}/assets/logo_white.svg"/> für Vereine
          </div>
          <div id="what-is-left-explanation">
            Sammle im Handumdrehen Spenden<br>
            für deinen Verein.
          </div>
        </div>
      </div>
      {% include features.html %}
      {% include footer.html %}
      {% include appstoreimages.html %}
    </div>
  </div>
</div>
</body>
</html>
