<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
<div class="main">
  <div class="content">
    <div>
      {% include header.html %}
      <div class="container">
        <div class="posts">
          <article class="post markdown-body">
            <h1>{{ page.title }}</h1>
            <div class="post__image">
              <img class="post__image-src" src="{{ site.url }}{{ site.baseurl }}/assets/posts/{{ page.image }}"/>
            </div>
            <div class="post-content">{{page.preview}}</div><br>
            <div class="post-content">{{page.content}}</div>
          </article>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
</div>
</body>
</html>
